<h4 class="title-h4 mb-3">List card</h4>

<div class="card-row">
  <div class="card-row__content">

    <div class="card-row__content__wrapper">
      <div class="thumbnail"></div>

      <div class="details">
        <div class="details__overline">Overline</div>
        <div class="details__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="details__sub-info">Lorem ipsum dolor sit amet,</div>
        <div class="details__sub-info"><span class="details__label">Label : </span>Lorem ipsum dolor sit amet,</div>
        <div class="details__list">
          <div class="details__list__info">Info 1</div>
          <div class="details__list__info"><span class="details__label">Label : </span>Info 2</div>
        </div>

        <div class="details__footer">
          <div class="details__footer__sub-line">Demande envoyé le 01/03/2019</div>
          <div class="card-link">Commencer</div>
        </div>
      </div>
    </div>

    <div class="extra">
      <div class="extra__info">
        <div class="extra__info__value">1200</div>
        <div class="extra__info__label">points cummulés</div>
      </div>
    </div>

    <div class="card-row__content__footer">
      <div class="card-row__content__footer__details">Demande envoyé le 01/03/2019</div>
      <div class="card-link">Commencer</div>
    </div>

  </div>

</div>

<div class="card-row">
  <div class="card-row__content">
    <div class="card-row__content__wrapper">
      <div class="details">
        <div class="details__overline">Overline</div>
        <div class="details__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="details__sub-info">Lorem ipsum dolor sit amet,</div>
        <div class="details__sub-info"><span class="details__label">Label : </span>Lorem ipsum dolor sit amet,</div>
        <div class="details__list">
          <div class="details__list__info">Info 1</div>
          <div class="details__list__info"><span class="details__label">Label : </span>Info 2</div>
        </div>

        <div class="details__footer">
          <div class="details__footer__sub-line">Demande envoyé le 01/03/2019</div>
          <div class="card-link">Commencer</div>
        </div>
      </div>
    </div>

    <div class="extra">
      <div class="extra__switch">
        <span class="extra__switch__label">Publié</span>

        <div class="extra__switch__box" [class.active]="true">
          <input type="checkbox" value="None" id="1" name="check" [checked]="true"/>
          <label class="extra__switch__box__label" for="1"></label>
        </div>

      </div>
    </div>

    <div class="card-row__content__footer">
      <div class="card-row__content__footer__details">Demande envoyé le 01/03/2019</div>
      <div class="card-link">Commencer</div>
    </div>

  </div>


</div>


<hr class="my-5">

<h4 class="title-h4 mb-3">List card with thumbnail</h4>
<div class="row">
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card__thumbnail">
        <img class="card__thumbnail__img" src="https://img.bfmtv.com/c/630/420/6ea/978bb45ee10aae30b26393fdd58f6.png"
             alt="">
      </div>
      <div class="card__content">
        <div class="card__content__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="card__content__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet
          asperiores aspernatur beatae blanditiis commodi consectetur dolor, explicabo harum id iure, nobis possimus
          quam rem voluptates voluptatibus voluptatum. Commodi, ea.
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card__thumbnail">
        <img class="card__thumbnail__img" src="https://img.bfmtv.com/c/630/420/6ea/978bb45ee10aae30b26393fdd58f6.png"
             alt="">
      </div>
      <div class="card__content">
        <div class="card__content__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        <div class="card__content__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet
          asperiores aspernatur beatae blanditiis commodi consectetur dolor, explicabo harum id iure, nobis possimus
          quam rem voluptates voluptatibus voluptatum. Commodi, ea.
        </div>
        <div class="card__content__footer">
          <a class="card__content__footer__link link">Voir</a>
          <a class="card__content__footer__link link">Book</a>
        </div>
      </div>
    </div>
  </div>
</div>
