<h2 class="title-h5 mb-2"><strong>Titre</strong></h2>
<section class="mb-5">

  <h1 class="title-h1">Bienvenue sur Be-U</h1>
  <h2 class="title-h2">Bienvenue sur Be-U</h2>
  <h3 class="title-h3">Bienvenue sur Be-U</h3>
  <h4 class="title-h4">Bienvenue sur Be-U</h4>
  <h5 class="title-h5">Bienvenue sur Be-U</h5>
  <h6 class="title-h6">Bienvenue sur Be-U</h6>

</section>

<h2 class="title-h5 mb-2"><strong>Textes</strong></h2>
<section class="mb-5">

  <p class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, debitis deserunt ducimus eaque facere fugiat
    in inventore ipsum maiores minus non officiis optio placeat praesentium provident repellat reprehenderit repudiandae
    unde.
  </p>

  <p class="text-bold">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, debitis deserunt ducimus eaque facere fugiat
    in inventore ipsum maiores minus non officiis optio placeat praesentium provident repellat reprehenderit repudiandae
    unde.
  </p>
  <hr>

  <p class="text-chapo">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, debitis deserunt ducimus eaque facere fugiat
    in inventore ipsum maiores minus non officiis optio placeat praesentium provident repellat reprehenderit repudiandae
    unde.
  </p>
  <hr>

  <p class="text-mention">* Champs obligatoires</p>
  <hr>

  <p class="text-opinion">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias cum, dolores eius est fugit impedit labore,
    magnam molestiae molestias nobis nostrum perspiciatis quam quas sunt unde, voluptatum. Odio, ullam!
  </p>

</section>
