<div class="header">
  <nav>
    <a class="nav-link mr-3" routerLink="./buttons" routerLinkActive="active">Boutons et liens</a>
    <a class="nav-link mr-3" routerLink="./typography" routerLinkActive="active">Typography</a>
    <a class="nav-link mr-3" routerLink="./forms" routerLinkActive="active">Forms</a>
    <a class="nav-link mr-3" routerLink="./icons" routerLinkActive="active">Icônes</a>
    <a class="nav-link" routerLink="./cards" routerLinkActive="active">Cards</a>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
